*{
	margin: 0;padding: 0;border: 0px;
}
#box{
	border: 10px ridge #3B99FC;
	margin-left:auto;
	margin-right: auto;
	margin-top:50px;
	width: 800px;
	height: 600px;
	background-color: #F0F0F0;
}
.tank{
	position:absolute;
	
}