*{
	margin: 0;padding: 0;border: 0px;
}
#box{
	border: 10px ridge #3B99FC;
	margin-right:auto;
	margin-left: auto;
	margin-top:50px;
	width: 60rem;
	height: 40rem;
	background-color: #F0F0F0;
}
.tank{
	position:absolute;
	
}